<div class="falha-sistemica">
    <div class="header-falhaSistemica">
        <img *ngIf="nivelUsuario === 1 || nivelUsuario === 2" class="btnAdicionar" (click)="openModal()" [src]="iconeAdicionar">
        <p *ngIf="nivelUsuario === 0"></p>
        <h2 class="tituloFalhaSistemica">Falhas Sistemicas</h2>
        <p></p>
    </div>
    <div class="tableFalhaSistemica">
        <table>
            <thead>
                <tr>
                    <th *ngIf="nivelUsuario === 1 || nivelUsuario === 2"></th>
                    <th>Nº OS</th>
                    <th>Data de Inicio</th>
                    <th>Sistema</th>
                    <th>Descrição</th>
                    <th>Orientação</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tableFalhasSistemicas" *ngFor="let falhaSistemica of falhasSistemicas" (dblclick)="openConfig()">
                    <td *ngIf="nivelUsuario === 1 || nivelUsuario === 2"><img [src]="iconeConfig" (click)="openConfig()" class="btnAdicionar"></td>
                    <td>{{falhaSistemica.id_fs}}</td>
                    <td>{{falhaSistemica.data_abertura_fs}}</td>
                    <td>{{falhaSistemica.sistema_afetado_fs}}</td>
                    <td>{{falhaSistemica.descricao_fs}}</td>
                    <td>{{falhaSistemica.orientacao_fs}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- MODAL ADCIONAR AVISO -->

<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>MODAL ADIONAR</p>

    </div>
</div>