<div class="falha-sistemica">
    <div class="header-falhaSistemica">
        <img class="btnAdicionar" (click)="openModal()" [src]="iconeAdicionar">
        <h2 class="tituloFalhaSistemica">Falhas Sistemicas</h2>
        <p></p>
    </div>
    <div class="logicaFalhaSistemica">LOGICA DO COMPONENTE</div>
</div>



<!-- MODAL ADCIONAR AVISO -->

<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>MODAL ADIONAR</p>

    </div>
</div>