<div class="header">
    <a routerLink="/"><img [src]="logo"></a>
    <img class="iconeLogin" (click)="openModal()" [src]=" IconeLogin">
</div>

<div class="sub-header">

    <div class="logoTelecom">
        <img [src]="logoAlgar">
    </div>

    <div class="header-menu">
        <nav>
            <ul *ngIf="nivelUsuario === 1 || nivelUsuario === 2" class="menu">
                <li><a class="btn" routerLink="/">Resumo</a></li>
                <li><a class="btn" routerLink="/relatorio">Relatório</a></li>
                <li><a *ngIf="nivelUsuario === 2" class="btn" routerLink="/cadastro-usuario">Cadastro Usuário</a></li>
            </ul>
        </nav>
        <p class="atualizacao">Atualizado: 10/10/2014 10:50</p>
    </div>
</div>

<!-- MODAL LOGIN -->

<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <img [src]="logoLogin">

    </div>
</div>