<div class="falha-massiva">
    <div class="header-falhaMassiva">
        <img class="btnAdicionar" (click)="openModal()" [src]="iconeAdicionar">
        <h2 class="tituloFalhaMassiva">Falhas Massivas</h2>
        <p></p>
    </div>
    <div class="logicaFalhaMassiva">LOGICA DO COMPONENTE</div>
</div>



<!-- MODAL ADCIONAR AVISO -->

<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>MODAL ADIONAR</p>

    </div>
</div>