<div class="falha-massiva">
    <div class="header-falhaMassiva">
        <img *ngIf="nivelUsuario === 1 || nivelUsuario === 2" class="btnAdicionar" (click)="openModal()" [src]="iconeAdicionar">
        <p *ngIf="nivelUsuario === 0"></p>
        <h2 class="tituloFalhaMassiva">Falhas Massivas</h2>
        <p></p>
    </div>
    <div class="tableFalhaMassiva">
        <table>
            <thead>
                <tr>
                    <th *ngIf="nivelUsuario === 1 || nivelUsuario === 2"></th>
                    <th>Nº OS</th>
                    <th>Data de Inicio</th>
                    <th>Descrição</th>
                    <th>Previsão</th>
                    <th>Localidade</th>
                    <th>Elemento</th>
                    <th>Afetando</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tableFalhasMassivas" *ngFor="let falhaMassiva of falhasMassivas" (dblclick)="openConfig()">
                    <td *ngIf="nivelUsuario === 1 || nivelUsuario === 2"><img [src]="iconeConfig" (click)="openConfig()" class="btnAdicionar"></td>
                    <td>{{falhaMassiva.id_fm}} <br> {{falhaMassiva.os_cor_fm}} </td>
                    <td>{{falhaMassiva.data_abertura_fm}}</td>
                    <td>{{falhaMassiva.descricao_fm}}</td>
                    <td>{{falhaMassiva.previsao_fm}}</td>
                    <td>{{falhaMassiva.localidade_fm}}</td>
                    <td>{{falhaMassiva.elemento_afetado_1_fm}} <br> {{falhaMassiva.elemento_afetado_2_fm}} <br> {{falhaMassiva.elemento_afetado_3_fm}}</td>
                    <td>{{falhaMassiva.ssp1_fm}} <br> {{falhaMassiva.ssp2_fm}} <br> {{falhaMassiva.ssp3_fm}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- MODAL ADCIONAR AVISO -->

<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>MODAL ADIONAR</p>

    </div>
</div>