<div class="change-rdm">
    <div class="header-change">
        <img class="btnAdicionar" (click)="openModal()" [src]="iconeAdicionar">
        <h2 class="tituloChange">Change - RDM</h2>
        <p></p>
    </div>
    <div class="tableChange">
        <table>
            <thead>
                <tr>
                    <th>Nº OS</th>
                    <th>Data de Inicio</th>
                    <th>Data de Fechamento</th>
                    <th>Descrição</th>
                    <th>Tempo de Instabilidade</th>
                    <th>Cliente Afetado</th>
                    <th>Sistema Afetado</th>
                    <th>Localidade</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tableChanges" *ngFor="let changeRdm of changeRdms" (dblclick)="openConfig()">
                    <td>{{changeRdm.id_rdm}}</td>
                    <td>{{changeRdm.data_abertura_rdm}}</td>
                    <td>{{changeRdm.data_fechamento_rdm}}</td>
                    <td>{{changeRdm.descricao_rdm}}</td>
                    <td>{{changeRdm.tempo_instabilidade_rdm}}</td>
                    <td>{{changeRdm.cliente_afetado_rdn}}</td>
                    <td>{{changeRdm.sistema_afetadi_rdm}}</td>
                    <td>{{changeRdm.localidade_afetada}}</td>
                    <td>{{changeRdm.status_rdm}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>



<!-- MODAL ADCIONAR AVISO -->

<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>MODAL ADIONAR</p>

    </div>
</div>