.change-rdm {
    margin-bottom: 30px;
}

.header-change {
    display: flex;
    background-color: #239687;
    border-radius: 5px 5px 0 0;
    padding: 6px 10px 6px 10px;
    justify-content: space-between;
}

.tituloChange {
    font-size: 24px;
    color: #fff;
}

.tableChange {
    background-color: #E5E5E5;
    border-radius: 0 0 5px 5px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
}

.btnAdicionar {
    cursor: pointer;
}


/* MODAL DE ADIONAR AVISO */

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #E5E5E5;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* LOGICA DO COMPONENTE - TABLE */

/* INCONE CONFIG/EDIT */
.iconeConfig {
    position: absolute;
}

/* Estilo geral da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px;
    font-size: 16px;
    text-align: center;
}

/* Estilo para as linhas da tabela */
.tableChanges {
    border-bottom: 1px solid #ddd;
}

/* Estilo para as células da tabela */
.tableChanges td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}

/* Estilo alternado para as linhas da tabela */
.tableChanges:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo ao passar o mouse sobre uma linha */
.tableChanges:hover {
    background-color: #23968717;
}

/* Estilo para o cabeçalho da tabela */
thead tr {
    background-color: #E5E5E5;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

/* Estilo para as células do cabeçalho */
thead th,
thead td {
    padding: 12px 15px;
}