<div class="change-rdm">
    <div class="header-change">
        <img *ngIf="nivelUsuario === 1 || nivelUsuario === 2" class="btnAdicionar" (click)="openModal()" [src]="iconeAdicionar">
        <p *ngIf="nivelUsuario === 0"></p>
        <h2 class="tituloChange">Change - RDM</h2>
        <p></p>
    </div>
    <div class="tableChange">
        <table>
            <thead>
                <tr>
                    <th *ngIf="nivelUsuario === 1 || nivelUsuario === 2"></th>
                    <th>Nº OS</th>
                    <th>Data de Inicio</th>
                    <th>Data de Fechamento</th>
                    <th>Descrição</th>
                    <th>Tempo de Instabilidade</th>
                    <th>Cliente Afetado</th>
                    <th>Sistema Afetado</th>
                    <th>Localidade</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tableChanges" *ngFor="let changeRdm of changeRdms" (dblclick)="openConfig()">
                    <td *ngIf="nivelUsuario === 1 || nivelUsuario === 2"><img [src]="iconeConfig" (click)="openConfig()" class="btnAdicionar"></td>
                    <td>{{changeRdm.id_rdm}}</td>
                    <td>{{changeRdm.data_abertura_rdm}}</td>
                    <td>{{changeRdm.data_fechamento_rdm}}</td>
                    <td>{{changeRdm.descricao_rdm}}</td>
                    <td>{{changeRdm.tempo_instabilidade_rdm}}</td>
                    <td>{{changeRdm.cliente_afetado_rdn}}</td>
                    <td>{{changeRdm.sistema_afetadi_rdm}}</td>
                    <td>{{changeRdm.localidade_afetada}}</td>
                    <td>{{changeRdm.status_rdm}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>



<!-- MODAL ADCIONAR AVISO -->

<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <form>
            <!-- Primeira linha: ID RDM e Datas -->
            <div class="form-row">
                <div class="form-group">
                    <label for="id_rdm">ID RDM</label>
                    <input type="text" id="id_rdm" name="id_rdm" maxlength="20" required>
                </div>

                <div class="form-group">
                    <label for="data_abertura_rdm">Data de Abertura</label>
                    <input type="datetime-local" id="data_abertura_rdm" name="data_abertura_rdm" required>
                </div>

                <div class="form-group">
                    <label for="data_fechamento_rdm">Data de Fechamento</label>
                    <input type="datetime-local" id="data_fechamento_rdm" name="data_fechamento_rdm">
                </div>
            </div>

            <!-- Segunda linha: Descrição e Tempo de Instabilidade -->
            <div class="form-row">
                <div class="form-group">
                    <label for="descricao_rdm">Descrição RDM</label>
                    <textarea id="descricao_rdm" name="descricao_rdm" maxlength="255" required></textarea>
                </div>

                <div class="form-group">
                    <label for="tempo_instabilidade_rdm">Tempo de Instabilidade</label>
                    <input type="text" id="tempo_instabilidade_rdm" name="tempo_instabilidade_rdm" maxlength="20" required>
                </div>
            </div>

            <!-- Terceira linha: Cliente Afetado e Sistema Afetado -->
            <div class="form-row">
                <div class="form-group">
                    <label for="cliente_afetado_rdm">Cliente Afetado</label>
                    <input type="text" id="cliente_afetado_rdm" name="cliente_afetado_rdm" maxlength="255" required>
                </div>

                <div class="form-group">
                    <label for="sistema_afetado_rdm">Sistema Afetado</label>
                    <input type="text" id="sistema_afetado_rdm" name="sistema_afetado_rdm" maxlength="255" required>
                </div>
            </div>

            <!-- Quarta linha: Localidade Afetada e Status -->
            <div class="form-row">
                <div class="form-group">
                    <label for="localidade_afetada">Localidade Afetada</label>
                    <input type="text" id="localidade_afetada" name="localidade_afetada" maxlength="255" required>
                </div>

                <div class="form-group">
                    <label for="status_rdm">Status RDM</label>
                    <select id="status_rdm" name="status_rdm" required>
                        <option value="" disabled selected>Selecione o status</option>
                        <option value="true">Ativo</option>
                        <option value="false">Inativo</option>
                    </select>
                </div>
            </div>

            <!-- Botões de Ação -->
            <div class="form-actions">
                <button type="submit" class="btn-save">Salvar</button>
                <button type="button" class="btn-cancel" (click)="closeModal()">Cancelar</button>
            </div>
        </form>


    </div>
</div>