<div class="aviso-critico">
    <div class="header-aviso">
        <img *ngIf="nivelUsuario === 1 || nivelUsuario === 2" class="btnAdicionar" (click)="openModal()" [src]="iconeAdicionar">
        <p *ngIf="nivelUsuario === 0"></p>
        <h2 class="tituloAvisos">Avisos Críticos</h2>
        <p></p>
    </div>
    <div class="tableAviso">
        <table>
            <thead>
                <tr>
                    <th *ngIf="nivelUsuario === 1 || nivelUsuario === 2"></th>
                    <th>Data Inicio</th>
                    <th>Aviso</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tableAvisos" *ngFor="let avisoCritico of avisosCriticos" (dblclick)="openConfig()">
                    <td *ngIf="nivelUsuario === 1 || nivelUsuario === 2"><img [src]="iconeConfig" (click)="openConfig()" class="btnAdicionar"></td>
                    <td>{{avisoCritico.id_ac}}</td>
                    <td>{{avisoCritico.texto_ac}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- MODAL ADCIONAR AVISO -->

<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>

        <form>
            <!-- Campo ID AC -->
            <div class="form-group">
                <label for="id_ac">ID AC</label>
                <input type="text" id="id_ac" name="id_ac" maxlength="20" required>
            </div>

            <!-- Campo Texto AC -->
            <div class="form-group">
                <label for="texto_ac">Texto AC</label>
                <textarea id="texto_ac" name="texto_ac" maxlength="255" required></textarea>
            </div>

            <!-- Campo Status AC -->
            <div class="form-group">
                <label for="status_ac">Status AC</label>
                <select id="status_ac" name="status_ac" required>
                    <option value="" disabled selected>Selecione o status</option>
                    <option value="true">Ativo</option>
                    <option value="false">Inativo</option>
                </select>
            </div>

            <!-- Campo Data Início AC -->
            <div class="form-group">
                <label for="data_inicio_ac">Data Início AC</label>
                <input type="datetime-local" id="data_inicio_ac" name="data_inicio_ac" required>
            </div>

            <!-- Campo Data Fim AC -->
            <div class="form-group">
                <label for="data_fim_ac">Data Fim AC</label>
                <input type="datetime-local" id="data_fim_ac" name="data_fim_ac">
            </div>

            <!-- Botões de Ação -->
            <div class="form-actions">
                <button type="submit" class="btn-save">Salvar</button>
                <button type="button" class="btn-cancel" (click)="closeModal()">Cancelar</button>
            </div>
        </form>


    </div>
</div>