<div class="conteiner-cadastro">
    <div class="registration-form">
        <h2>Cadastro de Usuário</h2>
        <form>
            <div class="form-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" name="username" placeholder="Digite o nome de usuário" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Digite o email" required>
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite a senha" required>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirmação de Senha</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirme a senha" required>
            </div>

            <div class="form-group">
                <label for="user-level">Nível do Usuário</label>
                <select id="user-level" name="user-level" required>
                    <option value="admin">Administrador</option>
                    <option value="editor">Editor</option>
                </select>
            </div>

            <button type="submit" class="btn-submit">Criar Conta</button>
        </form>
    </div>

</div>